.main-nav {
  position: absolute;
  right: 0;
  width: 100%;
  text-align: right;
}

.icon-menu {
  font-size: 9vw;
  margin-right: 3vw;
  margin-top: 5vw;
  z-index: 1000;
}

.fixed {
  position: fixed;
  z-index: 1000;
  right: 0;
  top: 0;
  padding-bottom: 40vw;
}

.menu {
  display: none;
  width: 100%;
}

.display-nav{
  position: fixed;
  top: 20vw;
  z-index: 99;
  width: 100%;
  background: #444;
  height: 100vh;
  /*margin-top: 20vw;*/
}


.display-nav li a {
  float: left;
  width: 100%;
  text-align: center;
  color: #89cff0;
  font-size: 10vw;
  border: 1px solid white;
  padding: 5vw 0;
}
/*
.menu {
  margin-top: 14vw;
}*/

main {
  max-width: 960px;
}

.hero {
  position: relative;
}

.hero-label {
  position: absolute;
  top: 7vw;
  left: 4vw;
  width: 120px;
  border-radius: .25em;
  padding: .75em;
  background: #666;
  /*opacity: .75;*/
  color: white;
}

.hero-label p {
  font-size: 12px;
  line-height: 14px;
}


h2 {
  text-align: center;
  font-size: 10vw;
  margin-bottom: 20px;
  padding-top: 20px;
  border-top: 2px solid #444;
  color: #444;
}


#accordian {
	background: #555;
	width: 100%;
	color: white;
	/*Some cool shadow and glow effect*/
	box-shadow:
		0 5px 15px 1px rgba(0, 0, 0, 0.6),
		0 0 200px 1px rgba(255, 255, 255, 0.5);
}
/*heading styles*/
#accordian h3 {
  text-align: center;
	font-size: 7vw;
	line-height: 16vw;
	padding: 0 6vw;
	cursor: pointer;
	background: #333;
	background: linear-gradient(#444, #333);
}

#accordian h3:hover {
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}

#accordian li {
	list-style-type: none;
}

#accordian ul ul li a {
  text-align: center;
	color: white;
	text-decoration: none;
	font-size: 7vw;
	line-height: 10vw;
	display: block;
	padding: 0 15px;
	/*transition for smooth hover animation*/
	transition: all 0.15s;
}
/*hover effect on links*/
#accordian ul ul li a:hover {
	background: #4f798c;
	border-left: 5px solid lightgreen;
}
/*Lets hide the non active LIs by default*/
#accordian ul ul {
	display: none;
}
#accordian li.active ul {
	display: block;

}

.template{
  display: none;
}

.main-skills {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.main-skills li{
  display: inline-block;
  width: 40vw;
  border-radius: 4px;
  margin-bottom: 4px;
  font-size: 7vw;
  padding: 10vw 0;
  background-color: #444;
  color: white;
}

.main-about {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.main-about p {
  padding: 5vw;
}
