@media only screen and (min-width: 640px) {
  .main-head {
    height: 130px;
  }

  .main-head h1{
    position: absolute;
    left: 90px;
    font-size: 57px;
    width: 150px;
  }

  .main-head img {
    position: absolute;
    top: 25px;
    left: 0;
    width: 100px;
    border-width: 5px;
  }
  .icon-menu {
    display: none;
  }

  .menu{
    display: inline-block;
  }

  .menu li a {
    float: right;
    text-align: right;
    color: #89cff0;
    font-size: 30px;
    padding: 5px 20px;
    margin-top: 65px;
  }

  .head-bound {
    margin: 0 auto;
  }

  main {
    margin: 30px auto;
  }

  h2 {
    font-size: 64px;
  }

  #project-pane {
    height: 500px;
  }

  #projects{
    text-align: center;
  }

  .accordian {
    background: none;
    box-shadow: none;
  }

  .accordian .indv-proj {
    display: inline-block;
    width: 250px;
    margin: 5px;
    height: 250px;
    font-size: 50px;
  }

  .indv-proj h3{
    height: 250px;
    padding-left: 0px;
    padding-right: 0px;
    line-height: 60px;
    font-size: 60px;
  }

  .main-skills li {
    width: 15%;
    font-size: 40px;
    margin: 0px 10px;
    padding: 75px 20px;
  }


}
