/*global styles*/

a {
  text-decoration: none;
}

.clearfix {
  clear: both;
}

/*selector styles*/

header {
  width: 100%;
  background: #444;
  height: 5em;
}

h1 {
  float: left;
  font-size: 1.5em;
  margin: .5em .5em;
  color: #89cff0;
  font-family: helvetica;
}

main {
  width: 100%;
  margin-top: 30px;
}

.template{
  display: none;
}

footer{
  width: 100%;
  height: 50px;
  background: #444;
  margin-top: 30px;
  color: #89cff0;
}

footer p {
  float: left;
  font-size: 16px;
  margin: 24px 0px 10px 10px;
}

footer span {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 2em;
  color: #89cff0;
}
