@media only screen and (min-width: 640px) {
  .main-head {
    height: 130px;
  }

  .main-head h1{
    position: absolute;
    left: 90px;
    font-size: 57px;
    width: 150px;
  }

  .main-head img {
    position: absolute;
    top: 25px;
    left: 0;
    width: 100px;
    border-width: 5px;
  }
  .icon-menu {
    display: none;
  }

  .menu{
    display: inline-block;
  }

  .menu li a {
    float: right;
    text-align: right;
    color: #89cff0;
    font-size: 30px;
    padding: 5px 20px;
    margin-top: 65px;
  }

  .head-bound {
    margin: 0 auto;
  }

  main {
    margin: 30px auto;
  }

  h2 {
    font-size: 64px;
  }


  .proj-head h1 {
    font-size: 38.4px;
  }

  .projects article {
    display: inline-block;
    width: 250px;
    height: 250px;
    padding: 10px 10px;
    margin-right: 10px;
    background: #444;
    color: white;
  }

  .projects article:nth-child(odd) {
    background: #444;
    color: white;
  }

  .projects article h1{
    margin: 10px 0 5px 0;
    font-size: 45px;
  }
/*
  .projects-display {
    display: inline-block;
    width: 30%;
    margin-right:
  }*/


}
