@media only screen and (min-width: 640px) {
  h1 {
    width: 20%
  }

  .icon-menu {
    display: none;
  }

  .main-nav {
    position: relative;
  }

  .main-nav ul{
    display: inline;
    background: none;
    width: 70%;
    height: 3em;
    padding-top: 2em;
    padding-bottom: 0;
    position: inherit;
  }

  .menu {
    width: 80%;
    float: right;
    text-align: right;
  }

  .menu li {
    float: right;
    color: #89cff0;
  }

  .menu li.tab {
    width: 20%;
  }

  .menu li.home{
    width: 20%;
  }

  .menu li.home a {
    color: #89cff0;
  }

  .projects ul li {
    width: 30%;
    height: 0;
  }

  .projects ul li:nth-child(1){
    margin-right: 4%;
  }

  .projects ul li:nth-child(2){
    margin-right: 4%;
  }

  .projects ul li:nth-child(3){
    display: inline-block;

  }
}
